process.container = 'bendda/mitopy:latest'
docker.enabled = true

params {
    alignments          = null
    outdir              = "./outputs"
    mt_reference        = "rCRS"
    ref_fasta           = ""

    help                = false
   

}


process {

    publishDir = params.outdir

    withName: PREPROCESS_BAM {
        publishDir = [
            enabled: false
        ]
    }

    withName: ALIGN_MT {
        publishDir = [
            path: "${params.outdir}/alignments"
        ]
        cpus = 4
    }

    withName: CALL_MT {
        publishDir = [
            enabled: false
        ]
    }

    withName: MERGE_CALLS {
        publishDir = [
            enabled: false
        ]
    }

    withName: POSTPROCESS_CALLS {
        publishDir = [
            path: "${params.outdir}/variant_calls"
        ]
        ext.args = {"--contamination-filter true"}
        
    }

    withName: ANNOTATE {
        publishDir = [
            path: "${params.outdir}/annotation"
        ]
    }

    withName: VISUALIZE {
        publishDir = [
            path: "${params.outdir}/visualization"
        ]
    }

    withName: GET_COVERAGE {
        publishDir = [
            path: "${params.outdir}/coverage"
        ]
        memory = 1.GB
    }

    withName: IDENTIFY_HAPLOGROUP {
        publishDir = [
            path: "${params.outdir}/haplogroup_report"
        ]
    }

}


report {
    enabled = true
    overwrite = true
}